<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="layout/sider/sider.css">
</head>
<div ng-controller="SiderCtrl">

    <ul id="dashboard-menu">
        <li ng-repeat="item in items" ng-class="{active:active==$index}">
            <div class="pointer" ng-show="active==$index">
                <div class="arrow"></div>
                <div class="arrow_border"></div>
            </div>
            <a ng-if="item.url" ng-click="init(item,$index)">
                <i ng-class="item.icon"></i>
                <span>{{item.name}}</span>
            </a>
            <a ng-if="item.subitems" class="dropdown-toggle" ng-click="init(item,$index)">
                <i ng-class="item.icon"></i>
                <span>{{item.name}}</span>
                <i class="fa fa-chevron-down icon"></i>
            </a>
            <ul class="submenu" ng-show="item.subitems">
                <li ng-repeat="subitem in item.subitems">

                    <a ng-click="redirect(subitem)">
                        <p class="fa fa-sort-desc fa-rotate-270"></p>{{subitem.name}}

                    </a>
                </li>
            </ul>
        </li>
    </ul>
</div>