<!DOCTYPE html>
<html lang="zh-cn">

<head>
    <meta charset="UTF-8">
</head>

<div>
    <div class="section">
        <div ng-hide="articles">
            <nav class="posts-navigator thin-scroll">
                <ul class="posts-pin"></ul>
                <ul class="posts-list">
                    <div class="loading-indicator">
                        <span class="loader-dot"></span>
                        <span class="loader-dot"></span>
                        <span class="loader-dot"></span>
                    </div>
                </ul>
            </nav>
        </div>
        <div class="row">
            <div class="col-sm-6 col-md-12" ng-repeat="article in articles">
                <div class="thumbnail pointer" ng-click="view(article)">
                    <div class="caption">
                        <h3>{{article.title}}</h3>
                        <p></p>
                        <p class="text-right">——{{article.timestamp|date}}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

</html>
