<!DOCTYPE html>
<html lang="zh-cn">

<head>
    <meta charset="UTF-8">
</head>

<div>
    <div class="col-md-9  clear-padding">
        <div class="panel panel-default">
            <div class="panel-heading"><i class="fa fa-th-large fa-fw"></i>&nbsp; 文章列表 &nbsp; {{ tag }}</div>
            <div class="panel-body fix-height">
                <div ng-hide="articles">
                    <nav class="posts-navigator thin-scroll">
                        <ul class="posts-pin"></ul>
                        <ul class="posts-list">
                            <div class="loading-indicator">
                                <span class="loader-dot"></span>
                                <span class="loader-dot"></span>
                                <span class="loader-dot"></span>
                            </div>
                        </ul>
                    </nav>
                </div>
                <div class="row">
                    <div class="col-xs-12 col-md-6" ng-repeat="article in articles">
                        <div class="thumbnail pointer" ng-click="view(article)">
                            <div class="caption">
                                <h3>{{article.title}}</h3>
                                <p></p>
                                <p><i class="fa fa-clock-o fa-fw"></i>&nbsp; {{article.timestamp|date}}</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-xs-12 col-md-3 pull-right  clear-padding">
        <div class="panel panel-default">
            <div class="panel-heading">Tags</div>
            <div class="panel-body">
               <button type="button" class="mg2 btn btn-default" ng-click="index()">全部</button>
               <button type="button" class="mg2 btn btn-default" ng-repeat="tag in tags" ng-click="search_tag(tag.name)">{{tag.name}}</button>
            </div>
        </div>
    </div>
    <div class="col-xs-12 col-md-3 pull-right  clear-padding">
        <div class="panel panel-default">
            <div class="panel-heading">友情链接</div>
            <div class="panel-body">
                <p><a href="http://www.liangfeizc.com/" target="_blank">Zealous Carrier</a></p>
                <p><a href="http://www.xyczero.com/" target="_blank">XycZero</a></p>
                <p><a href="http://www.qiaokaka.com/" target="_blank">乔卡卡的飞仙阁</a></p>
                <p><a href="http://www.angularjs.cn/" target="_blank">AngularJs中文站</a></p>
                <p ng-repeat="link in links"><a href="{{link.href}}" target="_blank">{{ link.name }}</a></p>
            </div>
        </div>
    </div>
</div>

</html>
