<!DOCTYPE html>
<html lang="zh-cn">

<head>
    <meta charset="UTF-8">
</head>

<div>
    <h2>極客
        <small>
            雜談
        </small>
        <section class="pull-right">
            <button class="btn btn-default" ng-click="add()">新增</button>
        </section>
    </h2>
    <div class="section">
        <div ng-hide="articles">
            <nav class="posts-navigator thin-scroll">
                <ul class="posts-pin"></ul>
                <ul class="posts-list">
                    <div class="loading-indicator">
                        <span class="loader-dot"></span>
                        <span class="loader-dot"></span>
                        <span class="loader-dot"></span>
                    </div>
                </ul>
            </nav>
        </div>
        <div class="row">
            <div class="col-sm-6 col-md-4" ng-repeat="article in articles">
                <div class="thumbnail">
                    <div class="caption">
                        <h3>{{article.title}}</h3>
                        <p>——{{article.timestamp|date}}</p>
                        <p class="text-right">
                            <a ng-click="remove(article)" class="btn btn-link" role="button">删除</a>
                            <a ng-click="edit(article)" class="btn btn-default" role="button">编辑</a>
                            <a ng-click="view(article)" class="btn btn-primary" role="button">查看</a>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

</html>
