<!DOCTYPE html>
<html lang="zh-cn">

<head>
    <meta charset="UTF-8">
</head>

<div>
    <h6>
        <a href="http://angular-ui.github.io/bootstrap/" target="_blank">点这里获取具体使用方法：dialog</a>
    </h6>
    <button class="btn btn-default" ng-click="open()">Open me!</button>
    <button class="btn btn-default" ng-click="open('lg')">Large modal</button>
    <button class="btn btn-default" ng-click="open('sm')">Small modal</button>

    <div class="section">
        <h6>
            <a href="http://bootboxjs.com/" target="_blank">点这里获取具体使用方法：confirm</a>
        </h6>

        <button class="btn btn-success " ng-click="confirm()">Confirm</button>
    </div>


</div>

</html>
