<!DOCTYPE html>
<html lang="zh-cn">

<head>
    <meta charset="UTF-8">
</head>

<div>
    <h2>{{ article.title}}
        <small ng-bind="article.timestamp|date"></small>
        <section class="pull-right">
            <button class="btn btn-default" ng-click="remove()">删除</button>
        </section>
    </h2>
    <div class="section">
        <div ng-hide="article">
            <nav class="posts-navigator thin-scroll">
                <ul class="posts-pin"></ul>
                <ul class="posts-list">
                    <div class="loading-indicator">
                        <span class="loader-dot"></span>
                        <span class="loader-dot"></span>
                        <span class="loader-dot"></span>
                    </div>
                </ul>
            </nav>
        </div>
        <div class="row">
            <div class="col-md-12" ng-bind-html="article.body"></div>
        </div>
    </div>
</div>

</html>
